<div class="center">
  <mat-card>
    <mat-card-title>
      <h2>Austria Purchases Calculated</h2>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>VAT Rate</mat-label>
            <mat-select formControlName="rateVAT" id="rateVAT" (selectionChange)="rateChange($event)">
              <mat-option *ngFor="let option of options" [value]="option">{{option}}%</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Net Price</mat-label>
            <input matInput appTwoDigitDecimaNumber formControlName="netPrice" id="netPrice" (change)="valueChange(1)" #debounce>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Gross Price</mat-label>
            <input matInput appTwoDigitDecimaNumber formControlName="grossPrice" id="grossPrice" (change)="valueChange(2)" #debounce>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>VAT Amounts</mat-label>
            <input matInput appTwoDigitDecimaNumber formControlName="amountsVAT" id="amountsVAT" (change)="valueChange(3)" #debounce>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
